$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap'; // bootstrap what?

// $background: #4286f4

container-fluid {
  display: flex;
}

body {
  background-image: url('https://s3.envato.com/files/214324850/Glow%20Neon%20White%20Lights%20Tunnel.jpg');
  background-size: cover;
  font-size: 16px;
}

.row {
  height: 150px;
  margin-left: 348px;
}

.col-xs-3 {
  border: dotted;
  border-radius: 12px;
  box-shadow: 4px 4px #333;
  color: #fff;
  cursor: pointer;
  height: 150px;
  margin-top: -149px;
  text-shadow: 3px 3px #333;
  width: 150px;
}

.container {
  bottom: -25px;
  position: relative;
}

h1 {
  border: dotted;
  border-radius: 12px;
  box-shadow: 3px 3px 4px #333;
  // box-sizing: content-box;
  color: #fff;
  font-family: fantasy;
  font-size: 60px;
  font-weight: bold;
  margin: 5px 30%;
  margin-top: 1%;
  padding: 5px;
  // position: inherit;
  text-align: center;
  text-shadow: 3px 3px #333;
  // width: 400px;
}

h2 {
  color: #fff;
  font-family: fantasy;
  font-weight: bold;
  margin: 0;
  padding: 1%;
  position: inherit;
  text-shadow: 3px 3px 4px #333;
  width: 15%;
}

#message {
  color: #fff;
  font-family: fantasy;
  font-size: 24px;
  font-weight: bold;
  // position: absolute;
  right: 42%;
  text-shadow: 2px 2px #333;
  top: 34%;
}

#winner1 {
  color: #0000ff;
  font-family: fantasy;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px #333;
}

#winner2 {
  color: #39ff14;
  font-family: fantasy;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px #333;
}

.winners {
  // position: absolute;
  right: 36%;
  top: 41%;
}

#authMessage {
  color: #fff;
}

button {
  background-color: #000;
  color: #fff;
  display: flex;
  font-family: fantasy;
  margin: 5px;
  margin-top: 2%;
  position: inherit;
}

form {
  color: #fff;
  display: table-cell;
  font-family: fantasy;
  margin: 4px;
  text-align: right;
}

input {
  background-color: #000;
  cursor: pointer;
  margin-top: 1%;
  text-align: center;
}

.x {
  background-image: url('https://image.shutterstock.com/z/stock-photo-glowing-neon-font-big-letter-x-53841778.jpg');
  background-position: center;
  background-size: contain;
  opacity: .7;
}

.o {
  background-image: url('https://image.shutterstock.com/z/stock-photo-glowing-neon-font-big-letter-o-53841808.jpg');
  background-position: center;
  background-size: contain;
  opacity: .7;
}

// .hide {
//   display: none;
// }
